// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



// Írjuk felül a lapozó nyilak stílusát
.pagination .page-item .page-link {
    background: none; // Háttér törlése
    border: none; // Keret törlése
    box-shadow: none; // Árnyék törlése
}